<form action="/chairs" method="post">
  <p>Color: <input type="text" name="color"></p>
  <p>Weight: <input type="text" name="weight"></p>
  <p>Legs: <input type="text" name="legs"></p>
  <p>Style: <input type="text" name="style"></p>
  <p>Image URL: <input type="text" name="image_url"></p>
  <input type="submit" value="Make a new chair">
</form>